<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <title>IP Address Tracker</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
      crossorigin=""
    ></script>
  </head>
  <body>
    <div class="header">
      <h1 class="title">IP Address Tracker</h1>
      <form action="" method="post" id="form-post">
        <img src="images/pattern-bg.png" alt="" class="backimg" />
        <input
          type="text"
          name="ipaddress"
          class="ipinp"
          placeholder="Search for any IP Address or domain"
        />
        <a
          href="javascript:$('form-post').submit();"
          class="search"
          onclick="document.getElementById('form-post').submit();"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="11"
            height="14"
            class="arrowimg"
          >
            <path fill="none" stroke="#FFF" stroke-width="3" d="M2 1l6 6-6 6" />
          </svg>
        </a>
      </form>
    </div>
    <div class="info">
      <h3 class="ip">IP ADDRESS</h3>
      <h1 class="fetched-ip"><%=ip_address%></h1>
      <hr class="first" />
      <h3 class="loc">LOCATION</h3>
      <h1 class="fetched-loc"><%=location%></h1>
      <hr class="second" />
      <h3 class="timezone">TIMEZONE</h3>
      <h1 class="fetched-timezone"><%=timezone%></h1>
      <hr class="third" />
      <h3 class="isp">ISP</h3>
      <h1 class="fetched-isp"><%=isp%></h1>
    </div>
    <div class="map" id="map">
      <script>
        var map = L.map("map").setView(["<%=latitude%>", "<%=longitude%>"], 11);
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
          attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(map);
      </script>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="46"
        height="56"
        class="loc-icon"
      >
        <path
          fill-rule="evenodd"
          d="M39.263 7.673c8.897 8.812 8.966 23.168.153 32.065l-.153.153L23 56 6.737 39.89C-2.16 31.079-2.23 16.723 6.584 7.826l.153-.152c9.007-8.922 23.52-8.922 32.526 0zM23 14.435c-5.211 0-9.436 4.185-9.436 9.347S17.79 33.128 23 33.128s9.436-4.184 9.436-9.346S28.21 14.435 23 14.435z"
        />
      </svg>
    </div>
  </body>
</html>
